.mainContent {
  background-image: url("/imgs/backgrounds/pink.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 186, 215, 0.636);
  min-height: 100vh;
  width: 100%;
  padding-bottom: 50px;
}

.download {
  text-align: center;
  margin: 2rem 0;
  color: #e0e0e0;
  font-family: var(--police-texte);
  font-size: var(--font-size-xsmall);
}

.download a {
  color: #fff;
  text-decoration: underline;
  transition: 0.3s;
}

.download a:hover {
  color: var(--color-pink);
}

.cvContainer {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.cvPdf {
  width: 100%;
  max-width: 50%;
  min-height: 800px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border: none;
}

@media (max-width: 800px) {
  .cvPdf {
    max-width: 95%;
    min-height: 500px;
  }
  
  .download {
    font-size: 1rem;
    padding: 0 1rem;
  }
}