html {
    background-image: url("/imgs/backgrounds/pink1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
}

.div-first-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    transform: rotate(-3deg);
    transition: 0.5s;
}

.first-title {
    text-align: left;
    font-family: var(--police-titre);
    font-size: var(--font-size-very-large);
    background-color: var(--color-pink);
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-top: 0.3em;
    margin-left: 0.2em;
    margin-bottom: 0;
    width: fit-content;
    border: 0.08em solid var(--color-black);
    transition: transform 0.2s;
}

.first-title:hover {
    transform: rotate(3deg);
    transition: 0.2s;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 100;
    align-items: center;
}

.nav-link,
.dropdownLabel {
    text-decoration: none;
    color: #ffe9ff;
    font-family: var(--police-texte);
    font-size: var(--font-size-xsmall);
    cursor: pointer;
    transition: 0.3s;
}

.nav-link:hover,
.dropdownLabel:hover {
    color: var(--color-pink);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    min-width: 100px;
    border-radius: 8px;
    padding: 0.5rem 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.dropdownContent a {
    display: block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: var(--police-texte);
    font-size: var(--font-size-xxsmall);
    text-align: right;
    transition: 0.2s;
}

.dropdownContent a:hover {
    background: rgba(255, 0, 179, 0.2);
    color: var(--color-pink);
}

.dropdown:hover .dropdownContent {
    display: block;
}

.all {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    border: 3vh solid var(--color-black);
}

.presentation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5em;
    justify-content: space-around;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 20%;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: var(--font-size-medium);
    font-family: var(--police-titre2-btn);
    width: fit-content;
    margin: 0;
    margin-left: 0.5em;
    margin-top: 0.3em;
    background-color: var(--color-pink);
    padding: 0.1em;
    text-decoration: none;
    color: var(--color-black);
}

.name:visited {
    color: var(--color-black);
}

.link:hover {
    color: var(--color-pink);
    background-color: var(--color-black);
}

.memoji {
    width: 40%;
    height: auto;
    margin-top: 1em;
}

.memoji:hover {
    transform: scale(1.1);
}

.text-presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    color: rgb(255, 233, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1em;
    width: 60%;
    padding-left: 2em;
    padding-right: 2em;
}

.text-presentation p {
    width: 100%;
    font-family: var(--police-texte);
    font-size: var(--font-size-xsmall);
}

.startdiv {
    display: flex;
    justify-content: center;
}

.btnStart {
    color: var(--color-pink);
    font-size: var(--font-size-small);
    font-family: var(--police-titre2-btn);
    text-decoration: none;
    background-color: var(--color-black);
    padding: 5px 10px;
    width: fit-content;
    margin-top: 0.5em;
    border: 0.08em solid var(--color-pink);
}

.btnStart:hover {
    background-color: var(--color-pink);
    color: var(--color-black);
    border: 0.08em solid var(--color-black);
}

.social-media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin: 0.5em;
}

.social-media img:hover {
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1200px) {
    .all {
        border-width: 4vh;
    }
}

@media (max-width: 768px) {
    .all {
        border-width: 2vh;
        flex-direction: column;
        align-items: center;
    }

    .first-title {
        margin-top: 1em;
    }

    .presentation-container {
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }

    .presentation {
        max-width: 80%;
        margin-bottom: 1em;
        width: 100%;
    }

    .text-presentation {
        width: 80%;
    }

    .social-media {
        width: fit-content;
        max-width: 100%;
        margin-top: 2em;
        margin-bottom: 1em;
        flex-direction: row;
        align-items: center;

    }

    .social-media img {
        width: 30px;
        height: 30px;
    }

    .memoji {
        width: 20%;
    }
}

@media (max-width: 480px) {
    html {
        background-image: url("/imgs/backgrounds/pink-mobile.jpg");
    }

    .all {
        border-width: 2vh;
        flex-direction: column;
        align-items: center;
    }

    .first-title {
        margin-top: 1.5em;
        font-size: var(--font-size-large);
    }

    .presentation {
        max-width: 80%;
        margin-bottom: 1em;
        width: 100%;
    }

    .text-presentation {
        width: 80%;
    }

    .social-media {
        flex-direction: row;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .social-media img {
        width: 30px;
        height: 30px;
    }

    .memoji {
        width: 70px;
        height: auto;
    }

    .nav {
        font-size: var(--font-size-xsmall);
    }

    .text-presentation p {
        font-size: var(--font-size-xxsmall);
    }

    .btnStart {
        font-size: var(--font-size-xsmall);
    }
}