.main-content {
  background-image: url("/imgs/backgrounds/pink.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll; 
  background-blend-mode: multiply;
  background-color: rgba(73, 11, 70, 0.7);
  display: block;
  min-height: 100vh;
  width: 100%;
overflow-y: auto;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding-bottom: 100px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.auFilDuTemps {
  background-color: rgba(41, 36, 36, 0.5);
}

.elixir {
  background-color: rgba(181, 134, 5, 0.5);
}

.marieGobelins {
  background-color: rgba(0, 255, 187, 0.5);
}

.pigeonGate {
  background-color: rgb(253, 81, 210);
}

.rerAGate {
  background-color: rgba(0, 216, 159, 0.5);
}

.averagePlayer {
  background-color: rgba(3, 2, 2, 0.755);
}

.inusTale {
  background-color: rgba(0, 120, 240, 0.5);
}

.associatif {
  background-color: rgba(0, 0, 0, 0.5);
}

.preWatch {
  background-color: rgba(255, 69, 0, 0.5);
}

/* Media Queries */
@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
}